<div id="<%= dom_id student %>">
  <div>
    <strong>Student name:</strong>
    <%= student.student_name %>
  </div>

  <div>
    <strong>Student age:</strong>
    <%= student.student_age %>
  </div>

  <div>
    <strong>Student gender:</strong>
    <%= student.student_gender.capitalize %>
  </div>

  <div>
    <strong>Student address:</strong>
    <%= student.student_address %>
  </div>

  <div>
    <strong>Student phone number:</strong>
    <%= student.student_phone_number %>
  </div>

  <div>
    <strong>Student birth date:</strong>
    <%= student.student_birth_date %>
  </div>

  <div>
    <strong>Parent name:</strong>
    <%= student.student_parent_name %>
  </div>

</div>
